<div class="hero-unit">
	<div class="navPanel">
		<ul>
			<li>{{#linkTo 'courses'}}Courses{{/linkTo}}</li>
			<li>{{#linkTo 'leaderboard'}}Leaderboard{{/linkTo}}</li>
			<li>{{#linkTo 'scorecard'}}Scorecard{{/linkTo}}</li>
		</ul>
	</div>
	<div class="contentPanel">
	  {{outlet}}
  	</div>
</div>
