<div class="hero-unit">
	<div class="navPanel">
		<ul>
			<li>{{#linkTo 'courses'}}Courses{{/linkTo}}</li>
			<li>{{#linkTo 'leaderboard'}}Leaderboard{{/linkTo}}</li>
			<li>{{#linkTo 'scorecard' model}}Scorecard{{/linkTo}}</li>
		</ul>
	</div>
</div>
